<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><meta name="viewport" content="width=device-width,initial-scale=1"><link rel="shortcut icon" href="/favicon.ico"><title>计算机基础知识大赛</title><link href="/css/main.df007c48.css" rel="stylesheet"></head><body><!--[if lte IE 8]>
                <h1>您使用的浏览器版本过低！</h1>
                <h2><a href="">点击下载chrome浏览器</a></h2>
    <![endif]--><div id="root"></div><script type="text/javascript" src="/js/main.6a7b7e7b.js"></script></body></html>